@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	background-color: #0b1736;
}


.VolumeController-module_container__2HNSO {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 70%;
	left: 25px;
	background: rgba(128, 128, 128, 0.5);
	border-radius: 5px;
	padding: 2px;
	border: 0.5px solid black;
	box-sizing: border-box;
}

@layer components {
	.btn-primary {
		@apply text-xl font-semibold text-white border-2 rounded-lg p-3 w-[100px] cursor-pointer hover:bg-white hover:text-secondary hover:border-secondary transition-all duration-200 ease-in tracking-wide;
	}

	.btn-secondary {
		@apply text-xl font-semibold text-white border-2 bg-secondary rounded-lg p-3 w-[100px] cursor-pointer hover:bg-white hover:text-secondary hover:border-secondary transition-all duration-200 ease-in tracking-wide;
	}
}
