.GeometryViewer-module-fullScreen_RWlQz {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  background: black;
  margin: 0;
  padding: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rootControl {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  z-index: 1;
}

.moduleControl {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  color: black;
}

.bigFileDrop {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  background-image: url(https://kitware.github.io/vtk-js/examples/GeometryViewer/3fdac36cbee8ffdf80fa.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
  width: 70%;
  height: 70%;
  cursor: pointer;
}
