.bigFileDrop {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-20%, -50%);
  background-color: white;
  background-image: url(https://kitware.github.io/vtk-js/examples/VolumeViewer/d12fb5393ccf95ded195.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
  width: 50%;
  height: 50%;
  z-index: 1;
  cursor: pointer;
  -webkit-box-shadow: 0px -5px 78px 7px rgba(0, 188, 239, 1);
  -moz-box-shadow: 0px -5px 78px 7px rgba(0, 188, 239, 1);
  box-shadow: 0px -5px 78px 7px rgba(0, 188, 239, 1);
}
